// Commons

//Breakpoint
$desktop: 1440px;
$tablet: 768px;
$mobile: 640px;

//colors
$color1: #3D374A;
$color2: #8df2A8;
$color3: #be0dbd;

// Typography
@font-face {
  font-family: 'ITC New Baskerville Std';
  src: url('../fonts/NewBaskervilleStd-Italic.eot');
  src: url('../fonts/NewBaskervilleStd-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NewBaskervilleStd-Italic.woff2') format('woff2'),
  url('../fonts/NewBaskervilleStd-Italic.woff') format('woff'),
  url('../fonts/NewBaskervilleStd-Italic.svg#NewBaskervilleStd-Italic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ITC New Baskerville Std';
  src: url('../fonts/NewBaskervilleStd-Roman.eot');
  src: url('../fonts/NewBaskervilleStd-Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NewBaskervilleStd-Roman.woff2') format('woff2'),
  url('../fonts/NewBaskervilleStd-Roman.woff') format('woff'),
  url('../fonts/NewBaskervilleStd-Roman.svg#NewBaskervilleStd-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SempioneGrotesk';
  src: url('../fonts/SempioneGrotesk-Light.eot');
  src: url('../fonts/SempioneGrotesk-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SempioneGrotesk-Light.woff2') format('woff2'),
  url('../fonts/SempioneGrotesk-Light.woff') format('woff'),
  url('../fonts/SempioneGrotesk-Light.svg#SempioneGrotesk-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SempioneGrotesk';
  src: url('../fonts/SempioneGrotesk-Regular.eot');
  src: url('../fonts/SempioneGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SempioneGrotesk-Regular.woff2') format('woff2'),
  url('../fonts/SempioneGrotesk-Regular.woff') format('woff'),
  url('../fonts/SempioneGrotesk-Regular.svg#SempioneGrotesk-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SempioneGrotesk';
  src: url('../fonts/SempioneGrotesk-Medium.eot');
  src: url('../fonts/SempioneGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SempioneGrotesk-Medium.woff2') format('woff2'),
  url('../fonts/SempioneGrotesk-Medium.woff') format('woff'),
  url('../fonts/SempioneGrotesk-Medium.svg#SempioneGrotesk-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.serif {
  font-family: 'ITC New Baskerville Std', serif;
}

.sans {
  font-family: 'SempioneGrotesk', sans-serif;
}

.light {
  font-weight: 300;
}

.reg {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.italic {
  font-style: italic;
}

.s-large { 
  font-size: 35px;
}

.s-xhuge {
  font-size: 125px;
}

.s-huge {
  font-size: 58px;
}

.s-big {
  font-size: 50px;
}

.s-large {
  font-size: 40px;
  font-size: 2.4vw;
}

.s-medium { 
  font-size: 30px;
  font-size: 1.8vw;
}

.s-regular { 
  font-size: 24px;
  font-size: 1.5vw;
}

.s-small {
  font-size: 21px;
  font-size: 1.3vw;
}

.s-xsmall {
	font-size: 18px;
  font-size: 1.1vw;
}

.s-xxsmall {
  font-size: 15px;
  font-size: 1vw;
}

// grid system
$spacing: 20px;
$half-spacing: $spacing/2;
$double-spacing: $spacing*2;
$triple-spacing: $spacing*3;
$fourfold-spacing: $spacing*4;

$col: 8.3333%;

// col system
.d-one-third {
  width: calc(#{$col}*4 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-half {
  width: calc(#{$col}*6 - #{$spacing});
  margin: 0 #{$half-spacing};
  .d-half {
    width: $col*6;
    margin: 0;
    padding: 0 #{$half-spacing};
  }
}

.d-two-thirds{
  width: calc(#{$col}*8 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-whole {
  width: calc(100% - #{$spacing});
  margin: 0 #{$half-spacing};
  .d-half {
    width: $col*6;
    margin: 0;
    padding: 0 #{$half-spacing};
  }
}

.d-one-twelfth {
  width: calc(#{$col} - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-two-twelfth {
  width: calc(#{$col}*2 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-three-twelfth {
  width: calc(#{$col}*3 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-four-twelfth {
  width: calc(#{$col}*4 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-five-twelfth {
  width: calc(#{$col}*5 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-six-twelfth {
  width: calc(#{$col}*6 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-seven-twelfth {
  width: calc(#{$col}*7 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-eight-twelfth {
  width: calc(#{$col}*8 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-nine-twelfth {
  width: calc(#{$col}*9 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-ten-twelfth {
  width: calc(#{$col}*10 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-eleven-twelfth {
  width: calc(#{$col}*11 - #{$spacing});
  margin: 0 #{$half-spacing};
}


// spacers
.spacing-b-1 {
  margin-bottom: $half-spacing;
}

.spacing-b-2 {
  margin-bottom: $spacing;
}

.spacing-b-3 {
  margin-bottom: $half-spacing*3;
}

.spacing-b-4 {
  margin-bottom: $double-spacing;
}

.spacing-b-8 {
  margin-bottom: $double-spacing*2;
}

.spacing-b-12 {
  margin-bottom: $double-spacing*3;
}

.spacing-t-1 {
  margin-top: $half-spacing;
}

.spacing-t-2 {
  margin-top: $spacing;
}

.spacing-t-3 {
  margin-top: $half-spacing*3;
}

.spacing-t-4 {
  margin-top: $double-spacing;
}

.spacing-t-8 {
  margin-top: $double-spacing*2;
}

.spacing-t-12 {
  margin-top: $double-spacing*3;
}

// padding
.spacing-p-b-half {
  padding-bottom: $half-spacing/2;
}

.spacing-p-b-1 {
  padding-bottom: $half-spacing;
}

.spacing-p-b-2 {
  padding-bottom: $spacing;
}

.spacing-p-b-3 {
  padding-bottom: $half-spacing*3;
}

.spacing-p-b-4 {
  padding-bottom: $double-spacing;
}

.spacing-p-t-half {
  padding-top: $half-spacing/2;
}

.spacing-p-t-1 {
  padding-top: $half-spacing;
}

.spacing-p-t-2 {
  padding-top: $spacing;
}

.spacing-p-t-3 {
  padding-top: $half-spacing*3;
}

.spacing-p-t-4 {
  padding-top: $double-spacing;
}

@media screen and (max-width: $tablet) {
    // spacers
  .spacing-t-b-0 {
    margin-bottom: 0;
  }

  .spacing-t-b-1 {
    margin-bottom: $half-spacing;
  }

  .spacing-t-b-2 {
    margin-bottom: $spacing;
  }

  .spacing-t-b-3 {
    margin-bottom: $double-spacing;
  }

  .spacing-t-b-4 {
    margin-bottom: $triple-spacing;
  }

  .spacing-t-b-6 {
    margin-bottom: $spacing*3;
  }

  .spacing-t-b-8 {
    margin-bottom: $spacing*4;
  }

  .spacing-t-t-0 {
    margin-top: 0;
  }

  .spacing-t-t-1 {
    margin-top: $half-spacing;
  }

  .spacing-t-t-2 {
    margin-top: $spacing;
  }

  .spacing-t-t-3 {
    margin-top: $double-spacing;
  }

  .spacing-t-t-4 {
    margin-top: $triple-spacing;
  }

  .spacing-t-t-6 {
    margin-top: $spacing*3;
  }

  .spacing-t-t-8 {
    margin-top: $spacing*4;
  }

  // padding
  .spacing-t-p-b-0 {
    padding-bottom: 0;
  }

  .spacing-t-p-b-half {
    padding-bottom: $half-spacing/2;
  }

  .spacing-t-p-b-1 {
    padding-bottom: $half-spacing;
  }

  .spacing-t-p-b-2 {
    padding-bottom: $spacing;
  }

  .spacing-t-p-b-3 {
    padding-bottom: $double-spacing;
  }

  .spacing-t-p-b-4 {
    padding-bottom: $triple-spacing;
  }

  .spacing-t-p-b-6 {
    padding-bottom: $spacing*5;
  }

  .spacing-t-p-b-8 {
    padding-bottom: $triple-spacing*2;
  }

  .spacing-t-p-t-0 {
    padding-top: 0;
  }

  .spacing-t-p-t-half {
    padding-top: $half-spacing/2;
  }

  .spacing-t-p-t-1 {
    padding-top: $half-spacing;
  }

  .spacing-t-p-t-2 {
    padding-top: $spacing;
  }

  .spacing-t-p-t-3 {
    padding-top: $double-spacing;
  }

  .spacing-t-p-t-4 {
    padding-top: $triple-spacing;
  }

  .spacing-t-p-t-6 {
    padding-top: $spacing*4;
  }

  .spacing-t-p-t-8 {
    padding-top: $triple-spacing*2;
  }
}

@media screen and (max-width: $mobile) {
  .spacing-m-b-0 {
    margin-bottom: 0;
  }

  .spacing-m-b-half {
    margin-bottom: $half-spacing/2;
  }

  .spacing-m-b-1 {
    margin-bottom: $half-spacing;
  }

  .spacing-m-b-2 {
    margin-bottom: $spacing;
  }

  .spacing-m-b-3 {
    margin-bottom: $double-spacing;
  }

  .spacing-m-b-4 {
    margin-bottom: $triple-spacing;
  }

  .spacing-m-b-6 {
    margin-bottom: $spacing*3;
  }

  .spacing-m-b-8 {
    margin-bottom: $spacing*4;
  }

  .spacing-m-t-0 {
    margin-top: 0;
  }

  .spacing-m-t-half {
    margin-top: $half-spacing/2;
  }

  .spacing-m-t-1 {
    margin-top: $half-spacing;
  }

  .spacing-m-t-2 {
    margin-top: $spacing;
  }

  .spacing-m-t-3 {
    margin-top: $double-spacing;
  }

  .spacing-m-t-4 {
    margin-top: $triple-spacing;
  }

  .spacing-m-t-6 {
    margin-top: $spacing*3;
  }

  .spacing-m-t-8 {
    margin-top: $spacing*4;
  }

  // padding
  .spacing-m-p-b-0 {
    padding-bottom: 0;
  }

  .spacing-m-p-b-half {
    padding-bottom: $half-spacing/2;
  }

  .spacing-m-p-b-1 {
    padding-bottom: $half-spacing;
  }

  .spacing-m-p-b-2 {
    padding-bottom: $spacing;
  }

  .spacing-m-p-b-3 {
    padding-bottom: $double-spacing;
  }

  .spacing-m-p-b-4 {
    padding-bottom: $triple-spacing;
  }

  .spacing-m-p-b-6 {
    padding-bottom: $spacing*5;
  }

  .spacing-m-p-b-8 {
    padding-bottom: $triple-spacing*2;
  }

  .spacing-m-p-t-0 {
    padding-top: 0;
  }

  .spacing-m-p-t-half {
    padding-top: $half-spacing/2;
  }

  .spacing-m-p-t-1 {
    padding-top: $half-spacing;
  }

  .spacing-m-p-t-2 {
    padding-top: $spacing;
  }

  .spacing-m-p-t-3 {
    padding-top: $double-spacing;
  }

  .spacing-m-p-t-4 {
    padding-top: $triple-spacing;
  }

  .spacing-m-p-t-6 {
    padding-top: $spacing*4;
  }

  .spacing-m-p-t-8 {
    padding-top: $triple-spacing*2;
  }
}