// Commons

//Breakpoint
$desktop: 1440px;
$tablet: 768px;
$mobile: 640px;

//colors
$primaryColor: #7d4d66;
$secColor: #7d4d66;

// Typography
@font-face {
  font-family: 'Basis Grotesque';
  src:url('assets/fonts/BasisGrotesque-Regular.woff2') format('woff2'),
      url('assets/fonts/BasisGrotesque-Regular.woff') format('woff'),
      url('assets/fonts/BasisGrotesque-Regular.ttf') format('ttf'),
      url('assets/fonts/BasisGrotesque-Regular.svg') format('svg'),
      url('assets/fonts/BasisGrotesque-Regular.eot') format('eot');
  font-weight: 400;
}

@font-face {
  font-family: 'Basis Grotesque';
  src:url('assets/fonts/BasisGrotesque-Italic.woff2') format('woff2'),
      url('assets/fonts/BasisGrotesque-Italic.woff') format('woff'),
      url('assets/fonts/BasisGrotesque-Italic.ttf') format('ttf'),
      url('assets/fonts/BasisGrotesque-Italic.svg') format('svg'),
      url('assets/fonts/BasisGrotesque-Italic.eot') format('eot');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Basis Grotesque Mono';
  src:url('assets/fonts/BasisGrotesqueMono-Regular.woff2') format('woff2'),
      url('assets/fonts/BasisGrotesqueMono-Regular.woff') format('woff'),
      url('assets/fonts/BasisGrotesqueMono-Regular.ttf') format('ttf'),
      url('assets/fonts/BasisGrotesqueMono-Regular.svg') format('svg'),
      url('assets/fonts/BasisGrotesqueMono-Regular.eot') format('eot');
  font-weight: 400;
}


.monospaced {
  font-family: 'Basis Grotesque Mono';
}

.s-large { 
  font-size: 35px;
}

.s-medium { 
  font-size: 24px;
}

.s-regular {
	font-size: 18px;
}

.s-small {
  font-size: 14px;
}


// grid system
$spacing: 20px;
$half-spacing: $spacing/2;
$double-spacing: $spacing*2;
$triple-spacing: $spacing*3;
$fourfold-spacing: $spacing*4;

$col: 8.3333%;

// col system
.d-one-third {
  width: calc(#{$col}*4 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-half {
  width: calc(#{$col}*6 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-two-thirds{
  width: calc(#{$col}*8 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-whole {
  width: calc(100% - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-one-twelfth {
  width: calc(#{$col} - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-two-twelfth {
  width: calc(#{$col}*2 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-three-twelfth {
  width: calc(#{$col}*3 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-four-twelfth {
  width: calc(#{$col}*4 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-six-twelfth {
  width: calc(#{$col}*6 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-eight-twelfth {
  width: calc(#{$col}*8 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-nine-twelfth {
  width: calc(#{$col}*9 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-ten-twelfth {
  width: calc(#{$col}*10 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-eleven-twelfth {
  width: calc(#{$col}*11 - #{$spacing});
  margin: 0 #{$half-spacing};
}


// spacers
.spacing-b-1 {
  margin-bottom: $half-spacing;
}

.spacing-b-2 {
  margin-bottom: $spacing;
}

.spacing-b-3 {
  margin-bottom: $double-spacing;
}

.spacing-b-4 {
  margin-bottom: $triple-spacing;
}

.spacing-t-1 {
  margin-top: $half-spacing;
}

.spacing-t-2 {
  margin-top: $spacing;
}

.spacing-t-3 {
  margin-top: $double-spacing;
}

.spacing-t-4 {
  margin-top: $triple-spacing;
}

// padding
.spacing-p-b-half {
  padding-bottom: $half-spacing/2;
}

.spacing-p-b-1 {
  padding-bottom: $half-spacing;
}

.spacing-p-b-2 {
  padding-bottom: $spacing;
}

.spacing-p-b-3 {
  padding-bottom: $double-spacing;
}

.spacing-p-b-4 {
  padding-bottom: $triple-spacing;
}

.spacing-p-t-half {
  padding-top: $half-spacing/2;
}

.spacing-p-t-1 {
  padding-top: $half-spacing;
}

.spacing-p-t-2 {
  padding-top: $spacing;
}

.spacing-p-t-3 {
  padding-top: $double-spacing;
}

.spacing-p-t-4 {
  padding-top: $triple-spacing;
}

@media screen and (max-width: $tablet) {
    // spacers
  .spacing-t-b-0 {
    margin-bottom: 0;
  }

  .spacing-t-b-1 {
    margin-bottom: $half-spacing;
  }

  .spacing-t-b-2 {
    margin-bottom: $spacing;
  }

  .spacing-t-b-3 {
    margin-bottom: $double-spacing;
  }

  .spacing-t-b-4 {
    margin-bottom: $triple-spacing;
  }

  .spacing-t-b-6 {
    margin-bottom: $spacing*3;
  }

  .spacing-t-b-8 {
    margin-bottom: $spacing*4;
  }

  .spacing-t-t-0 {
    margin-top: 0;
  }

  .spacing-t-t-1 {
    margin-top: $half-spacing;
  }

  .spacing-t-t-2 {
    margin-top: $spacing;
  }

  .spacing-t-t-3 {
    margin-top: $double-spacing;
  }

  .spacing-t-t-4 {
    margin-top: $triple-spacing;
  }

  .spacing-t-t-6 {
    margin-top: $spacing*3;
  }

  .spacing-t-t-8 {
    margin-top: $spacing*4;
  }

  // padding
  .spacing-t-p-b-0 {
    padding-bottom: 0;
  }

  .spacing-t-p-b-half {
    padding-bottom: $half-spacing/2;
  }

  .spacing-t-p-b-1 {
    padding-bottom: $half-spacing;
  }

  .spacing-t-p-b-2 {
    padding-bottom: $spacing;
  }

  .spacing-t-p-b-3 {
    padding-bottom: $double-spacing;
  }

  .spacing-t-p-b-4 {
    padding-bottom: $triple-spacing;
  }

  .spacing-t-p-b-6 {
    padding-bottom: $spacing*5;
  }

  .spacing-t-p-b-8 {
    padding-bottom: $triple-spacing*2;
  }

  .spacing-t-p-t-0 {
    padding-top: 0;
  }

  .spacing-t-p-t-half {
    padding-top: $half-spacing/2;
  }

  .spacing-t-p-t-1 {
    padding-top: $half-spacing;
  }

  .spacing-t-p-t-2 {
    padding-top: $spacing;
  }

  .spacing-t-p-t-3 {
    padding-top: $double-spacing;
  }

  .spacing-t-p-t-4 {
    padding-top: $triple-spacing;
  }

  .spacing-t-p-t-6 {
    padding-top: $spacing*4;
  }

  .spacing-t-p-t-8 {
    padding-top: $triple-spacing*2;
  }
}

@media screen and (max-width: $mobile) {
  .spacing-m-b-0 {
    margin-bottom: 0;
  }

  .spacing-m-b-half {
    margin-bottom: $half-spacing/2;
  }

  .spacing-m-b-1 {
    margin-bottom: $half-spacing;
  }

  .spacing-m-b-2 {
    margin-bottom: $spacing;
  }

  .spacing-m-b-3 {
    margin-bottom: $double-spacing;
  }

  .spacing-m-b-4 {
    margin-bottom: $triple-spacing;
  }

  .spacing-m-b-6 {
    margin-bottom: $spacing*3;
  }

  .spacing-m-b-8 {
    margin-bottom: $spacing*4;
  }

  .spacing-m-t-0 {
    margin-top: 0;
  }

  .spacing-m-t-half {
    margin-top: $half-spacing/2;
  }

  .spacing-m-t-1 {
    margin-top: $half-spacing;
  }

  .spacing-m-t-2 {
    margin-top: $spacing;
  }

  .spacing-m-t-3 {
    margin-top: $double-spacing;
  }

  .spacing-m-t-4 {
    margin-top: $triple-spacing;
  }

  .spacing-m-t-6 {
    margin-top: $spacing*3;
  }

  .spacing-m-t-8 {
    margin-top: $spacing*4;
  }

  // padding
  .spacing-m-p-b-0 {
    padding-bottom: 0;
  }

  .spacing-m-p-b-half {
    padding-bottom: $half-spacing/2;
  }

  .spacing-m-p-b-1 {
    padding-bottom: $half-spacing;
  }

  .spacing-m-p-b-2 {
    padding-bottom: $spacing;
  }

  .spacing-m-p-b-3 {
    padding-bottom: $double-spacing;
  }

  .spacing-m-p-b-4 {
    padding-bottom: $triple-spacing;
  }

  .spacing-m-p-b-6 {
    padding-bottom: $spacing*5;
  }

  .spacing-m-p-b-8 {
    padding-bottom: $triple-spacing*2;
  }

  .spacing-m-p-t-0 {
    padding-top: 0;
  }

  .spacing-m-p-t-half {
    padding-top: $half-spacing/2;
  }

  .spacing-m-p-t-1 {
    padding-top: $half-spacing;
  }

  .spacing-m-p-t-2 {
    padding-top: $spacing;
  }

  .spacing-m-p-t-3 {
    padding-top: $double-spacing;
  }

  .spacing-m-p-t-4 {
    padding-top: $triple-spacing;
  }

  .spacing-m-p-t-6 {
    padding-top: $spacing*4;
  }

  .spacing-m-p-t-8 {
    padding-top: $triple-spacing*2;
  }
}