@font-face {
  font-family: 'ITC New Baskerville Std';
  src: url("../fonts/NewBaskervilleStd-Italic.eot");
  src: url("../fonts/NewBaskervilleStd-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/NewBaskervilleStd-Italic.woff2") format("woff2"), url("../fonts/NewBaskervilleStd-Italic.woff") format("woff"), url("../fonts/NewBaskervilleStd-Italic.svg#NewBaskervilleStd-Italic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'ITC New Baskerville Std';
  src: url("../fonts/NewBaskervilleStd-Roman.eot");
  src: url("../fonts/NewBaskervilleStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/NewBaskervilleStd-Roman.woff2") format("woff2"), url("../fonts/NewBaskervilleStd-Roman.woff") format("woff"), url("../fonts/NewBaskervilleStd-Roman.svg#NewBaskervilleStd-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SempioneGrotesk';
  src: url("../fonts/SempioneGrotesk-Light.eot");
  src: url("../fonts/SempioneGrotesk-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SempioneGrotesk-Light.woff2") format("woff2"), url("../fonts/SempioneGrotesk-Light.woff") format("woff"), url("../fonts/SempioneGrotesk-Light.svg#SempioneGrotesk-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SempioneGrotesk';
  src: url("../fonts/SempioneGrotesk-Regular.eot");
  src: url("../fonts/SempioneGrotesk-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SempioneGrotesk-Regular.woff2") format("woff2"), url("../fonts/SempioneGrotesk-Regular.woff") format("woff"), url("../fonts/SempioneGrotesk-Regular.svg#SempioneGrotesk-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SempioneGrotesk';
  src: url("../fonts/SempioneGrotesk-Medium.eot");
  src: url("../fonts/SempioneGrotesk-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SempioneGrotesk-Medium.woff2") format("woff2"), url("../fonts/SempioneGrotesk-Medium.woff") format("woff"), url("../fonts/SempioneGrotesk-Medium.svg#SempioneGrotesk-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
.serif {
  font-family: 'ITC New Baskerville Std', serif; }

.sans, body, .button {
  font-family: 'SempioneGrotesk', sans-serif; }

.light, body {
  font-weight: 300; }

.reg {
  font-weight: 400; }

.medium {
  font-weight: 500; }

.italic, .button {
  font-style: italic; }

.s-large, .wysiwyg.s-large > * {
  font-size: 35px; }

.s-xhuge {
  font-size: 125px; }

.s-huge {
  font-size: 58px;
  font-size: 3.6vw; }

.s-big, .wysiwyg.s-big > * {
  font-size: 50px;
  font-size: 3vw; }

.s-large, .wysiwyg.s-large > * {
  font-size: 40px;
  font-size: 2.4vw; }

.s-medium, .wysiwyg.s-medium > * {
  font-size: 30px;
  font-size: 1.8vw; }

.s-regular, .wysiwyg.s-regular > *, #info-section .team.box .team-profile blockquote p {
  font-size: 24px;
  font-size: 1.5vw; }

.s-small, .wysiwyg.s-small > *, #site-menu .menu li a, .button {
  font-size: 21px;
  font-size: 1.3vw; }

.s-xsmall, .wysiwyg.s-xsmall > *, #footer .menu li a {
  font-size: 18px;
  font-size: 1.1vw; }

.s-xxsmall {
  font-size: 15px;
  font-size: 1vw; }

.d-one-third {
  width: calc(8.3333%*4 - 20px);
  margin: 0 10px; }

.d-half {
  width: calc(8.3333%*6 - 20px);
  margin: 0 10px; }
  .d-half .d-half {
    width: 49.9998%;
    margin: 0;
    padding: 0 10px; }

.d-two-thirds {
  width: calc(8.3333%*8 - 20px);
  margin: 0 10px; }

.d-whole {
  width: calc(100% - 20px);
  margin: 0 10px; }
  .d-whole .d-half {
    width: 49.9998%;
    margin: 0;
    padding: 0 10px; }

.d-one-twelfth {
  width: calc(8.3333% - 20px);
  margin: 0 10px; }

.d-two-twelfth {
  width: calc(8.3333%*2 - 20px);
  margin: 0 10px; }

.d-three-twelfth {
  width: calc(8.3333%*3 - 20px);
  margin: 0 10px; }

.d-four-twelfth {
  width: calc(8.3333%*4 - 20px);
  margin: 0 10px; }

.d-five-twelfth {
  width: calc(8.3333%*5 - 20px);
  margin: 0 10px; }

.d-six-twelfth {
  width: calc(8.3333%*6 - 20px);
  margin: 0 10px; }

.d-seven-twelfth {
  width: calc(8.3333%*7 - 20px);
  margin: 0 10px; }

.d-eight-twelfth {
  width: calc(8.3333%*8 - 20px);
  margin: 0 10px; }

.d-nine-twelfth {
  width: calc(8.3333%*9 - 20px);
  margin: 0 10px; }

.d-ten-twelfth {
  width: calc(8.3333%*10 - 20px);
  margin: 0 10px; }

.d-eleven-twelfth {
  width: calc(8.3333%*11 - 20px);
  margin: 0 10px; }

.spacing-b-1 {
  margin-bottom: 10px; }

.spacing-b-2 {
  margin-bottom: 20px; }

.spacing-b-3 {
  margin-bottom: 30px; }

.spacing-b-4 {
  margin-bottom: 40px; }

.spacing-b-8 {
  margin-bottom: 80px; }

.spacing-b-12 {
  margin-bottom: 120px; }

.spacing-t-1 {
  margin-top: 10px; }

.spacing-t-2 {
  margin-top: 20px; }

.spacing-t-3 {
  margin-top: 30px; }

.spacing-t-4 {
  margin-top: 40px; }

.spacing-t-8 {
  margin-top: 80px; }

.spacing-t-12 {
  margin-top: 120px; }

.spacing-p-b-half {
  padding-bottom: 5px; }

.spacing-p-b-1 {
  padding-bottom: 10px; }

.spacing-p-b-2 {
  padding-bottom: 20px; }

.spacing-p-b-3 {
  padding-bottom: 30px; }

.spacing-p-b-4 {
  padding-bottom: 40px; }

.spacing-p-t-half {
  padding-top: 5px; }

.spacing-p-t-1 {
  padding-top: 10px; }

.spacing-p-t-2 {
  padding-top: 20px; }

.spacing-p-t-3 {
  padding-top: 30px; }

.spacing-p-t-4 {
  padding-top: 40px; }

@media screen and (max-width: 768px) {
  .spacing-t-b-0 {
    margin-bottom: 0; }

  .spacing-t-b-1 {
    margin-bottom: 10px; }

  .spacing-t-b-2 {
    margin-bottom: 20px; }

  .spacing-t-b-3 {
    margin-bottom: 40px; }

  .spacing-t-b-4 {
    margin-bottom: 60px; }

  .spacing-t-b-6 {
    margin-bottom: 60px; }

  .spacing-t-b-8 {
    margin-bottom: 80px; }

  .spacing-t-t-0 {
    margin-top: 0; }

  .spacing-t-t-1 {
    margin-top: 10px; }

  .spacing-t-t-2 {
    margin-top: 20px; }

  .spacing-t-t-3 {
    margin-top: 40px; }

  .spacing-t-t-4 {
    margin-top: 60px; }

  .spacing-t-t-6 {
    margin-top: 60px; }

  .spacing-t-t-8 {
    margin-top: 80px; }

  .spacing-t-p-b-0 {
    padding-bottom: 0; }

  .spacing-t-p-b-half {
    padding-bottom: 5px; }

  .spacing-t-p-b-1 {
    padding-bottom: 10px; }

  .spacing-t-p-b-2 {
    padding-bottom: 20px; }

  .spacing-t-p-b-3 {
    padding-bottom: 40px; }

  .spacing-t-p-b-4 {
    padding-bottom: 60px; }

  .spacing-t-p-b-6 {
    padding-bottom: 100px; }

  .spacing-t-p-b-8 {
    padding-bottom: 120px; }

  .spacing-t-p-t-0 {
    padding-top: 0; }

  .spacing-t-p-t-half {
    padding-top: 5px; }

  .spacing-t-p-t-1 {
    padding-top: 10px; }

  .spacing-t-p-t-2 {
    padding-top: 20px; }

  .spacing-t-p-t-3 {
    padding-top: 40px; }

  .spacing-t-p-t-4 {
    padding-top: 60px; }

  .spacing-t-p-t-6 {
    padding-top: 80px; }

  .spacing-t-p-t-8 {
    padding-top: 120px; } }
@media screen and (max-width: 640px) {
  .spacing-m-b-0 {
    margin-bottom: 0; }

  .spacing-m-b-half {
    margin-bottom: 5px; }

  .spacing-m-b-1 {
    margin-bottom: 10px; }

  .spacing-m-b-2 {
    margin-bottom: 20px; }

  .spacing-m-b-3 {
    margin-bottom: 40px; }

  .spacing-m-b-4 {
    margin-bottom: 60px; }

  .spacing-m-b-6 {
    margin-bottom: 60px; }

  .spacing-m-b-8 {
    margin-bottom: 80px; }

  .spacing-m-t-0 {
    margin-top: 0; }

  .spacing-m-t-half {
    margin-top: 5px; }

  .spacing-m-t-1 {
    margin-top: 10px; }

  .spacing-m-t-2 {
    margin-top: 20px; }

  .spacing-m-t-3 {
    margin-top: 40px; }

  .spacing-m-t-4 {
    margin-top: 60px; }

  .spacing-m-t-6 {
    margin-top: 60px; }

  .spacing-m-t-8 {
    margin-top: 80px; }

  .spacing-m-p-b-0 {
    padding-bottom: 0; }

  .spacing-m-p-b-half {
    padding-bottom: 5px; }

  .spacing-m-p-b-1 {
    padding-bottom: 10px; }

  .spacing-m-p-b-2 {
    padding-bottom: 20px; }

  .spacing-m-p-b-3 {
    padding-bottom: 40px; }

  .spacing-m-p-b-4 {
    padding-bottom: 60px; }

  .spacing-m-p-b-6 {
    padding-bottom: 100px; }

  .spacing-m-p-b-8 {
    padding-bottom: 120px; }

  .spacing-m-p-t-0 {
    padding-top: 0; }

  .spacing-m-p-t-half {
    padding-top: 5px; }

  .spacing-m-p-t-1 {
    padding-top: 10px; }

  .spacing-m-p-t-2 {
    padding-top: 20px; }

  .spacing-m-p-t-3 {
    padding-top: 40px; }

  .spacing-m-p-t-4 {
    padding-top: 60px; }

  .spacing-m-p-t-6 {
    padding-top: 80px; }

  .spacing-m-p-t-8 {
    padding-top: 120px; } }
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*:focus {
  outline: 0; }

.d-inline-block {
  display: inline-block; }

.t-visible, .m-visible {
  display: none; }

.d-flex, #site-menu .menu {
  display: flex; }
  .d-flex.d-column, #site-menu .d-column.menu {
    flex-flow: column; }
  .d-flex.center, #site-menu .center.menu {
    align-items: center; }
  .d-flex.v-center, #site-menu .menu {
    justify-content: center; }
  .d-flex.top, #site-menu .top.menu {
    align-items: flex-start; }
  .d-flex.baseline, #site-menu .baseline.menu {
    align-items: baseline; }
  .d-flex.end, #site-menu .end.menu {
    justify-content: flex-end; }
  .d-flex.space-between, #site-menu .space-between.menu {
    justify-content: space-between; }
  .d-flex.space-evenly, #site-menu .space-evenly.menu {
    justify-content: space-evenly; }
  .d-flex.wrap, #site-menu .wrap.menu {
    flex-wrap: wrap; }
  .d-flex.grow, #site-menu .grow.menu {
    flex: 1; }

.p-absolute {
  position: absolute; }

.p-relative {
  position: relative; }

.p-fixed {
  position: fixed; }

.d-inline-block {
  display: inline-block; }

.d-none {
  display: none; }

.hidden {
  opacity: 0 !important;
  pointer-events: none !important; }

.overall {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  font-size: 0pt; }

.full-width {
  width: 100%; }

.full-height {
  height: 100vh; }

.f-right {
  float: right; }

.f-left {
  float: left; }

.t-center {
  text-align: center; }

.uppercase, #site-menu .menu li a, .button {
  text-transform: uppercase; }

.underline {
  border-bottom: 1px solid;
  display: inline; }

.color1 {
  color: #3D374A; }

.color2 {
  color: #8df2A8; }

.wysiwyg.s-big > *, .wysiwyg.s-big > .wysiwyg > * {
  line-height: 1.1; }
.wysiwyg.s-large > *, .wysiwyg.s-large > .wysiwyg > * {
  line-height: 1.1; }

.two-columns {
  columns: 2;
  column-gap: 20px; }

.max-width {
  max-width: 500px; }

.border-top {
  border-top: 1px solid #3D374A; }

.border-bottom {
  border-bottom: 1px solid #3D374A; }

/* basic elements */
html.sr .reveal-module {
  visibility: hidden; }

body {
  color: #3D374A;
  overflow-x: hidden;
  text-rendering: geometricPrecision;
  -ms-overflow-style: none;
  scrollbar-width: none; }
  body::-webkit-scrollbar {
    display: none; }
  body.blocked {
    overflow: hidden; }

p {
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.3; }
  p:last-of-type {
    margin-bottom: 0; }

h1, h2, h3, h4 {
  font-weight: normal;
  line-height: 1; }

a {
  color: #3D374A;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  a:hover {
    color: #3D374A; }
  a.color-hover:hover {
    color: #be0dbd;
    border-bottom-color: #be0dbd; }

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none; }

img {
  width: 100%;
  height: auto; }

.container {
  width: calc(100% - 60px);
  margin-left: 30px;
  margin-right: 30px; }

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.flex-row {
  margin-right: -10px;
  margin-left: -10px;
  position: relative; }

@keyframes bgcolor {
  0% {
    background-color: #eafdd0; }
  12.5% {
    background-color: #fdf8d0; }
  25% {
    background-color: #fde8d0; }
  33% {
    background-color: #fdd0d0; }
  44% {
    background-color: #f4d0fd; }
  55% {
    background-color: #d9d0fd; }
  66% {
    background-color: #d0e1fd; }
  77% {
    background-color: #d0fde7; }
  88% {
    background-color: #d0fdd7; } }
#club-thats {
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 5px;
  background-color: #eafdd0;
  text-align: center;
  animation: bgcolor 20s linear 0s infinite normal forwards;
  z-index: 100;
  opacity: 1;
  pointer-events: all;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  #club-thats.hidden {
    padding-top: 0; }

#landing {
  background-color: black;
  overflow: hidden;
  -webkit-transition: all 0.5s 0.3s;
  -moz-transition: all 0.5s 0.3s;
  -ms-transition: all 0.5s 0.3s;
  -o-transition: all 0.5s 0.3s;
  transition: all 0.5s 0.3s; }
  #landing #logo-landing {
    width: 100%;
    top: 45%;
    pointer-events: none;
    z-index: 10000;
    -webkit-transition: all ease 0.3s 0.15s;
    -moz-transition: all ease 0.3s 0.15s;
    -ms-transition: all ease 0.3s 0.15s;
    -o-transition: all ease 0.3s 0.15s;
    transition: all ease 0.3s 0.15s; }
    #landing #logo-landing svg {
      fill: white;
      width: 95%;
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      -ms-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s; }
    #landing #logo-landing.scroll-up {
      top: -10vh; }
      #landing #logo-landing.scroll-up svg {
        width: 33%; }
  #landing .images-container {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 1000; }
    #landing .images-container .img-container {
      height: 100vh;
      display: flex;
      align-items: center;
      top: 0;
      left: 0;
      opacity: 0;
      filter: blur(15px);
      -webkit-transition: all ease 0.7s;
      -moz-transition: all ease 0.7s;
      -ms-transition: all ease 0.7s;
      -o-transition: all ease 0.7s;
      transition: all ease 0.7s; }
      #landing .images-container .img-container:nth-of-type(even) {
        right: 0;
        left: unset; }
      #landing .images-container .img-container img {
        height: 50vh;
        width: auto; }

#header-container {
  margin-top: calc(1.3vw + 10px);
  position: relative; }
  #header-container.single-project {
    background-color: white; }

#header #logo {
  width: 33vw; }
  #header #logo svg {
    width: 100%;
    fill: #3D374A;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
#header div[class*="menu-1"] {
  display: none; }
#header .menu-toggle {
  display: none;
  border: 1px solid transparent;
  width: 30px;
  height: 30px;
  border: none;
  margin: 0;
  text-indent: -1000px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  padding: 0;
  z-index: 14000;
  background: transparent;
  opacity: 1;
  cursor: pointer; }
  #header .menu-toggle span {
    position: absolute;
    height: 2px;
    width: 30px;
    background: #3D374A;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    #header .menu-toggle span:nth-child(1) {
      top: 0; }
    #header .menu-toggle span:nth-child(2) {
      top: 10px; }
    #header .menu-toggle span:nth-child(3) {
      top: 20px; }
  #header .menu-toggle.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 50%;
    width: 32px; }
  #header .menu-toggle.open span:nth-child(2) {
    width: 0%;
    opacity: 0; }
  #header .menu-toggle.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 50%;
    width: 32px; }

#site-menu {
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 1px solid #3D374A;
  z-index: 100;
  background-color: white;
  opacity: 1;
  pointer-events: all;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  #site-menu .menu {
    padding: 5px 0; }
    #site-menu .menu li {
      margin: 0 30px; }
      #site-menu .menu li a {
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        -ms-transition: color 0.3s;
        -o-transition: color 0.3s;
        transition: color 0.3s;
        position: relative; }
        #site-menu .menu li a:hover {
          color: #be0dbd; }
          #site-menu .menu li a:hover:before {
            background-color: #3D374A; }
        #site-menu .menu li a:before {
          content: '';
          display: flex;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: 1px solid #3D374A;
          position: absolute;
          left: -30px;
          top: 50%;
          transform: translateY(-50%);
          background-color: white;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
      #site-menu .menu li.current-menu-item a {
        color: #be0dbd;
        pointer-events: none; }
        #site-menu .menu li.current-menu-item a:before {
          background-color: #3D374A; }

.content {
  min-height: 100vh;
  margin-bottom: 120px; }

body.page-notebook #article-header .dot-link {
  display: inline-block !important; }

#article-opening .article-cover {
  height: calc(100vh - 300px); }

.article-metadata {
  background-color: #8df2A8; }
  .article-metadata p {
    margin-left: 40px;
    margin-bottom: 0; }

.highlight {
  background-color: #FFFCD5; }

#filters-container .main-cat a {
  padding: 10px 0;
  border: 1px solid #3D374A;
  background-color: white;
  display: block;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  #filters-container .main-cat a:hover, #filters-container .main-cat a.active {
    background-color: #FFFCD5; }
#filters-container .main-tag {
  padding-top: 10px;
  border-bottom: 1px solid #3D374A; }
  #filters-container .main-tag .tag-item {
    display: inline-block;
    padding: 0 40px 10px;
    background-color: white;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    #filters-container .main-tag .tag-item:hover, #filters-container .main-tag .tag-item.active {
      background-color: #FFFCD5; }

.two-img-container .vertical {
  aspect-ratio: 1/1.25;
  width: calc(50% - 20px);
  margin: 0 10px;
  background-repeat: none;
  background-size: cover;
  background-position: center; }

.swiper .swiper-wrapper .swiper-slide {
  height: 60vh;
  width: unset;
  display: flex;
  flex-flow: column;
  align-items: baseline; }
  .swiper .swiper-wrapper .swiper-slide img {
    max-width: 100%;
    max-height: calc(100% - 20px);
    object-fit: contain; }
  .swiper .swiper-wrapper .swiper-slide p {
    background-color: #3D374A;
    color: white;
    padding: 0 2px; }

.label {
  background-color: #8df2A8; }
  .label.tag {
    background-color: #FFFCD5;
    display: inline-block;
    padding: 0 20px; }
  .label.short {
    display: inline-block;
    padding-right: 40px;
    padding-left: 3px; }

.background-container {
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; }

#content-single-media {
  margin-top: 50vw; }
  #content-single-media #article-opening {
    max-width: 50vw;
    margin: 0 auto; }
  #content-single-media #article-contents {
    max-width: 50vw;
    margin: 0 auto;
    padding: 40px;
    background-color: #cecece; }
  #content-single-media .button {
    background-color: #8df2A8;
    max-width: 12vw; }

.dot-link {
  position: relative; }
  .dot-link:after {
    content: '';
    display: block;
    margin-top: 10px;
    background-color: #3D374A;
    border-radius: 50%;
    width: 3.5vw;
    height: 3.5vw;
    background-image: url("../img/tc_arrow.svg");
    background-size: cover;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .dot-link.previous {
    display: flex;
    flex-flow: column-reverse; }
    .dot-link.previous:after {
      margin-bottom: 10px; }
  .dot-link:hover:after {
    background-color: #be0dbd;
    background-position: 3.5vw; }

.button {
  border: none;
  background-color: #cecece;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s; }
  .button:hover {
    color: #be0dbd; }

.stacked_gallery {
  position: relative;
  display: flex;
  flex: 1 1 0; }
  .stacked_gallery .stacked_img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    opacity: 0;
    background-repeat: no-repeat;
    background-position: center; }
    .stacked_gallery .stacked_img.active {
      opacity: 1; }
    .stacked_gallery .stacked_img.horizontal.size1 {
      background-size: auto 80%; }
    .stacked_gallery .stacked_img.horizontal.size2 {
      background-size: auto 60%; }
    .stacked_gallery .stacked_img.horizontal.size3 {
      background-size: auto 40%; }
    .stacked_gallery .stacked_img.vertical.size1 {
      background-size: auto 100%; }
    .stacked_gallery .stacked_img.vertical.size2 {
      background-size: auto 70%; }
    .stacked_gallery .stacked_img.vertical.size3 {
      background-size: auto 60%; }

#info-section .box {
  margin-bottom: 80px; }
#info-section .team.box h2, #info-section .team.box h3 {
  line-height: 1.3;
  display: inline-block; }
#info-section .team.box .team-name {
  cursor: pointer;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  #info-section .team.box .team-name:hover, #info-section .team.box .team-name.active {
    border-bottom: 1px solid; }
  #info-section .team.box .team-name.active {
    cursor: default; }
#info-section .team.box .team-profile {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  -webkit-transition: opacity 0.3s 0.3s;
  -moz-transition: opacity 0.3s 0.3s;
  -ms-transition: opacity 0.3s 0.3s;
  -o-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s; }
  #info-section .team.box .team-profile .team-img {
    aspect-ratio: 1/1.5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  #info-section .team.box .team-profile blockquote {
    margin-bottom: 20px; }
  #info-section .team.box .team-profile.active {
    opacity: 1;
    height: initial;
    position: static;
    pointer-events: all; }
#info-section .info-title {
  position: relative; }
  #info-section .info-title h2 {
    max-width: calc(100% - 100px); }
  #info-section .info-title:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 30px;
    width: 30px;
    height: 60px;
    background: url("../img/tc_dots.svg") no-repeat center center;
    background-size: contain; }

.place-title {
  margin-right: 10px; }

.place-img-container {
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .place-img-container.visible {
    opacity: 1; }
  .place-img-container img {
    width: 80%;
    max-height: 180px;
    object-fit: contain; }

.surr-place-container {
  padding: 20px;
  padding-right: 40px;
  border: 1px solid #3D374A; }
  .surr-place-container .surr-place-img {
    aspect-ratio: 1/1.25;
    width: calc(33% - 40px);
    margin-right: 40px;
    margin-bottom: 40px; }
  .surr-place-container .surr-place-txt {
    width: 66%; }
    .surr-place-container .surr-place-txt .surr-place-title {
      margin-top: .25vw;
      margin-right: 5px; }
  .surr-place-container.submit {
    background-color: #F0EAD9; }

.border-right {
  position: relative; }
  .border-right:after {
    content: '';
    position: absolute;
    right: 10px;
    top: -10px;
    width: 1px;
    height: calc(100% + 10px);
    background-color: #3D374A; }

#related {
  background-color: #D0D0D0; }

.article-img {
  aspect-ratio: 1/1.25;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.project {
  padding: 20px;
  padding-bottom: 40px;
  border: 1px solid #3D374A; }
  .project .article-img {
    aspect-ratio: 1.5/1; }
  .project .dot-link h4 {
    width: calc(100% - 5vw); }
  .project .dot-link:after {
    position: absolute;
    right: 0;
    bottom: -1.25vw; }

.donations {
  background-color: #E6F499; }
  .donations .donation-title {
    margin-left: 80px;
    position: relative; }
    .donations .donation-title:before {
      content: '';
      display: inline-block;
      width: 50px;
      height: 50px;
      background-color: #3D374A;
      border-radius: 50%;
      position: absolute;
      left: -65px; }
  .donations .donation-tab {
    position: relative;
    aspect-ratio: 4/1; }
    .donations .donation-tab .donation-text {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 0;
      pointer-events: none;
      -webkit-transition: opacity 0.3s;
      -moz-transition: opacity 0.3s;
      -ms-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }
      .donations .donation-tab .donation-text .wysiwyg {
        max-width: 600px;
        margin-right: 20px; }
      .donations .donation-tab .donation-text.visible {
        opacity: 1;
        height: 100%;
        position: static;
        pointer-events: all; }
  .donations .donation-button {
    cursor: pointer;
    position: relative;
    padding: 3px 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .donations .donation-button:hover {
      color: #be0dbd; }
    .donations .donation-button.active {
      color: #be0dbd;
      cursor: default; }
    .donations .donation-button:nth-of-type(1):after {
      content: '';
      position: absolute;
      top: 0;
      right: -10px;
      width: 1px;
      height: 100%;
      background-color: #3D374A; }

.single-project .content {
  min-height: unset;
  margin-bottom: 0; }

#project-header {
  background-color: white; }

.project-txts {
  margin-left: 40px;
  max-height: 75vh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; }
  .project-txts #project-txt {
    display: flex;
    flex-flow: column;
    justify-content: space-between; }

.sticky {
  position: sticky;
  max-height: 75vh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; }

.overflow .img-container {
  width: 100%;
  height: 75vh;
  background-repeat: no-repeat; }
  .overflow .img-container.horizontal {
    background-size: cover;
    background-position: center; }
  .overflow .img-container.vertical {
    background-size: auto 100%;
    background-position: left; }

.page-id-16.page-club-thats {
  background-color: #DEF5E1; }
  .page-id-16.page-club-thats #club-thats, .page-id-16.page-club-thats #footer-title {
    display: none; }

.single-benefit {
  position: relative; }
  .single-benefit .benefit-title {
    cursor: pointer;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s; }
    .single-benefit .benefit-title:hover {
      color: #be0dbd; }
  .single-benefit .benefit-content {
    opacity: 0;
    pointer-events: none;
    height: 0;
    position: absolute;
    right: 0;
    width: 50%;
    color: #be0dbd;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .single-benefit .benefit-content .benefit-img-container {
      max-height: 200px;
      object-fit: contain; }
      .single-benefit .benefit-content .benefit-img-container img {
        height: 100%;
        width: auto;
        max-width: 100%; }
    .single-benefit .benefit-content.visible {
      opacity: 1;
      height: 100%; }

.dot-before {
  display: flex; }
  .dot-before > * {
    width: calc(100% - 40px); }
  .dot-before:before {
    content: '';
    display: flex;
    width: 3.2vw;
    height: 3.2vw;
    background-color: #3D374A;
    border-radius: 50%;
    margin-right: 10px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s; }
  .dot-before.color-hover:hover:before {
    background-color: #be0dbd; }

.services-box {
  width: 25%;
  margin: 0;
  padding: 40px;
  aspect-ratio: 1/1.1; }
  .services-box.image-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }

#footer-title {
  background-color: #DEF5E1; }

#footer {
  background-color: #3D374A;
  color: white;
  padding: 40px 0 120px;
  line-height: 1.3; }
  #footer a {
    color: white; }
  #footer #logo-footer {
    display: inline-block;
    width: 100%; }
    #footer #logo-footer svg {
      fill: white;
      width: 80%;
      height: auto; }
  #footer .menu {
    margin-top: 13px;
    margin-bottom: 60px; }
    #footer .menu li a {
      line-height: 1.3; }
  #footer .dot-before {
    display: inline-block;
    position: relative; }
    #footer .dot-before:before {
      content: '';
      display: flex;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 1px solid #3D374A;
      position: absolute;
      left: -50px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #E6F788;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    #footer .dot-before:last-of-type:before {
      background-color: #DEF5E1; }

@media screen and (max-width: 768px) {
  .t-hidden {
    display: none; }

  .t-visible {
    display: inline-block; }

  .d-flex.t-column, #site-menu .t-column.menu {
    flex-flow: column; }
  .d-flex.t-column-reverse, #site-menu .t-column-reverse.menu {
    flex-flow: column-reverse; }

  .t-whole {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px; }

  .t-half {
    width: calc(50% - 20px);
    margin-left: 10px;
    margin-right: 10px; }

  .t-ten-twelfth {
    width: calc(8.3333%*10 - 20px);
    margin: 0 10px; } }
@media screen and (max-width: 640px) {
  .m-hidden {
    display: none; }

  .m-visible {
    display: inline-block; }

  .d-flex.m-column, #site-menu .m-column.menu {
    flex-flow: column; }
  .d-flex.m-column-reverse, #site-menu .m-column-reverse.menu {
    flex-flow: column-reverse; }

  .m-whole {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px; }

  .m-half {
    width: calc(50% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px; } }

/*# sourceMappingURL=style.css.map */
