@import 'common';

// eg @include transition(background-color 200ms, left 200ms);
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline:0;
}

//varie & eventuali
.d-inline-block {
  display: inline-block;
}

.t-visible, .m-visible {
  display: none;
}

.d-flex {
  display: flex;
  &.d-column {
    flex-flow: column;
  }
  &.center {
    align-items: center;
  }
  &.v-center {
    justify-content: center;
  }
  &.top {
    align-items: flex-start;
  }
  &.baseline {
    align-items: baseline;
  }
  &.end {
    justify-content: flex-end;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.space-evenly {
    justify-content: space-evenly;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.grow {
    flex: 1;
  }
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.p-fixed {
  position:fixed;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}

.overall {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  font-size: 0pt;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100vh;
}

.f-right {
  float: right;
}

.f-left {
  float: left;
}

.t-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  border-bottom: 1px solid;
  display: inline;
  // line-height: 1 !important;
}

.color1 {
  color: $color1;
}

.color2 {
  color: $color2;
}

.wysiwyg {
  &.s-big > * {
    @extend .s-big;
    line-height: 1.1;
  }
  &.s-large > * {
    @extend .s-large;
    line-height: 1.1;
  }
  &.s-medium > * {
    @extend .s-medium;
  }
  &.s-regular > * {
    @extend .s-regular;
  }
  &.s-small > * {
    @extend .s-small;
  }
  &.s-xsmall > * {
    @extend .s-xsmall;
  }
}

.two-columns {
  columns: 2;
  column-gap: $spacing;
}

.max-width {
  max-width: 500px;
}

.border-top {
  border-top: 1px solid $color1;
}

.border-bottom {
  border-bottom: 1px solid $color1;
}


/* basic elements */
body {
  @extend .sans;
  @extend .light;
  color: $color1;
  overflow-x: hidden;
  text-rendering: geometricPrecision;
}

html.sr .reveal-module {
  visibility: hidden;
}

p {
	margin:0;
  margin-bottom: $spacing;
  line-height: 1.3;
  &:last-of-type {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4 {
  font-weight: normal;
  line-height: 1;
}

a {
  color:$color1;
  text-decoration: none;
  @include transition(all .3s);
  &:hover {
    color: $color1;
  }
  &.color-hover:hover {
    color: $color3;
    border-bottom-color: $color3;
  }
}

ul {
	margin:0;
	padding-left:0;
	list-style-type: none;
}

li {
}

img {
  width: 100%;
  height: auto;
}

.container {
  width: calc(100% - #{$spacing*3});
  margin-left: $half-spacing*3;
  margin-right: $half-spacing*3;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.flex-row{
  margin-right: -#{$half-spacing};
  margin-left: -#{$half-spacing};
  position: relative;
}

@keyframes bgcolor {
  0% {
    background-color: #eafdd0;
  }

  12.5% {
    background-color: #fdf8d0;
  }

  25% {
    background-color: #fde8d0;
  }

  33% {
    background-color: #fdd0d0;
  }

  44% {
    background-color: #f4d0fd;
  }

  55% {
    background-color: #d9d0fd;
  }

  66% {
    background-color: #d0e1fd;
  }

  77% {
    background-color: #d0fde7;
  }

  88% {
    background-color: #d0fdd7;
  }
  
}

#club-thats {
  width: 100%;
  top:0;
  left: 0;
  padding-top: $half-spacing/2;
  background-color: #eafdd0;
  text-align: center;
  animation: bgcolor 20s linear 0s infinite normal forwards;
  z-index: 100;
}

#header-container {
  margin-top: calc(1.3vw + #{$half-spacing});
}

#header {
  #logo {
    width: 33vw;
    svg {
      width: 100%;
      fill: $color1;
    }
  }
  div[class*="menu-1"]{
    display: none;
  }
  .menu-toggle {
    display: none;
    border: 1px solid transparent;
    width: 30px;
    height: 30px;
    border: none;
    margin: 0;
    text-indent: -1000px;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    padding: 0;
    z-index: 14000;
    background: transparent;
    opacity: 1;
    cursor: pointer;
    span {
      position: absolute;
      height: 2px;
      width: 30px;
      background: $color1;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      @include transition(all .3s);

      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 10px;
      }
      &:nth-child(3) {
        top: 20px;
      }
    }
    &.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 50%;
      width: 32px;
    }

    &.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    &.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      // transform-origin: 50% 0;
      top: 50%;
      width: 32px;
    }
  }
}

#site-menu {
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 1px solid $color1;
  z-index: 100;
  background-color: white;
  .menu {
    @extend .d-flex;
    @extend .v-center;
    padding: $half-spacing/2 0;
    li {
      margin: 0 $half-spacing*3;
      a {
        @extend .uppercase;
        @extend .s-small;
        @include transition(color .3s);
        position: relative;
        &:hover {
          color: $color3;
          &:before {
            background-color: $color1;
          }
        }
        &:before {
          content:'';
          display: flex;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: 1px solid $color1;
          position: absolute;
          left: - 30px;
          top: 50%;
          transform: translateY(-50%);
          background-color: white;
          @include transition(all .3s);
        }
      }
      &.current-menu-item a {
        color: $color3;
        pointer-events: none;
        &:before {
          background-color: $color1;
        }
      }
    }
  }
}

.content {
  min-height: 100vh;
  margin-bottom: $double-spacing*3;
}

// notebook
#article-header {
  @at-root body.page-notebook & {
    .dot-link {
      display: inline-block !important;
    }
  }
}
#article-opening {
  .article-cover {
    height: calc(100vh - 300px);
  }
}
.article-metadata {
  background-color: $color2;
  p {
    margin-left: $double-spacing;
    margin-bottom: 0;
  }
}

// filters
.highlight {
  background-color: #FFFCD5;
}

#filters-container {
  .main-cat a {
    padding: $half-spacing 0;
    border: 1px solid $color1;
    background-color: white;
    display: block;
    @include transition(background-color .3s);
    &:hover, &.active {
      background-color: #FFFCD5;
    }
  }
  .main-tag {
    padding-top: $half-spacing;
    border-bottom: 1px solid $color1;
    .tag-item {
      display: inline-block;
      padding: 0 $double-spacing $half-spacing;
      background-color: white;
      @include transition(background-color .3s);
      &:hover, &.active {
        background-color: #FFFCD5;
      }
    }
  }
}
.two-img-container {
  .vertical {
    aspect-ratio: 1/1.25;
    width: calc(50% - #{$spacing});
    margin: 0 $half-spacing; 
    background-repeat: none;
    background-size: cover;
    background-position: center;
  }
}

.swiper {
  .swiper-wrapper {
    .swiper-slide {
      height: 60vh;
      width: unset;
      display: flex;
      flex-flow: column;
      align-items: baseline;
      img {
        // height: 100%;
        max-width: 100%;
        max-height: calc(100% - 20px);
        object-fit:contain;
      }
      p {
        background-color: $color1;
        color: white;
        padding: 0 2px;
      }
    }
  }
}

.label {
  background-color: $color2;
  &.tag {
    background-color: #FFFCD5;
    display: inline-block;
    padding: 0 $spacing;
  }
  &.short {
    display: inline-block;
    padding-right: $double-spacing;
    padding-left: 3px;
  }
}

// media articles
.background-container {
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

#content-single-media {
  margin-top: 50vw;
  #article-opening {
    max-width: 50vw;
    margin: 0 auto;
  }
  #article-contents {
    max-width: 50vw;
    margin: 0 auto;
    padding: $double-spacing;
    background-color: #cecece;
  }
  .button {
    background-color: $color2;
    max-width: 12vw;
  }
}

.dot-link {
  position: relative;
  &:after {
    content:'';
    display: block;
    margin-top: $half-spacing;
    background-color: $color1;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-image: url('../img/tc_arrow.svg');
    @include transition(all .3s);
  } 
  &.previous {
    display: flex;
    flex-flow: column-reverse;
    &:after {
      margin-bottom: $half-spacing;
    }
  }
  &:hover:after {
    background-color: $color3;
    background-position: 48px;
  }
}

.button {
  border: none;
  background-color: #cecece;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  @extend .sans;
  @extend .uppercase;
  @extend .italic;
  @extend .s-small;
  @include transition(color .3s);
  &:hover {
    color: $color3;
  }
}

// stacked gallery
.stacked_gallery {
  position: relative;
  display: flex;
  flex: 1 1 0;
  .stacked_img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    opacity: 0;
    background-repeat: no-repeat;
    background-position: center;
    &.active {
      opacity: 1;
    }
    &.horizontal {
      &.size1 {
        background-size: auto 80%;
      }
      &.size2 {
        background-size: auto 60%;
      }
      &.size3 {
        background-size: auto 40%;
      }
    }
    &.vertical {
      &.size1 {
        background-size: auto 100%;
      }
      &.size2 {
        background-size: auto 70%;
      }
      &.size3 {
        background-size: auto 60%;
      }
    }
  }
}

// info & team
#info-section {
  .box {
    margin-bottom: $double-spacing*2;
  }
  .team.box {
    h2, h3 {
      line-height: 1.3;
      display: inline-block;
    }
    .team-name {
      cursor: pointer;
      border-bottom: 1px solid transparent;
      @include transition(all .3s);
      &:hover, &.active {
        border-bottom: 1px solid;
      }
      &.active {
        cursor: default;
      }
    }
    .team-profile {
      opacity: 0;
      position: absolute;
      top:0;
      left: 0;
      // height: 0;
      width: 100%;
      pointer-events: none;
      @include transition(opacity .3s .3s);
      .team-img {
        aspect-ratio: 1/1.5;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      blockquote {
        margin-bottom: $spacing;
        p {
          @extend .s-regular;
        }
      }
      &.active {
        opacity: 1;
        height: initial;
        position: static;
        pointer-events: all;
      }
    }
  }
  .info-title {
    position: relative;
    h2 {
      max-width: calc(100% - 100px);
    }
    &:after {
      content:'';
      display: inline-block;
      position: absolute;
      top:0;
      right: 30px;
      width: 30px;
      height: 60px;
      background: url('../img/tc_dots.svg') no-repeat center center;
      background-size: contain;    
    }
  }
}

// percorsi
.place-title {
  margin-right: 10px;
}
.place-img-container {
  text-align: center;
  opacity: 0;
  @include transition(opacity .3s);
  &.visible {
    opacity: 1;
  }
  img {
    width: 80%;
    max-height: 180px;
    object-fit: contain;
  }
}
.surr-place-container {
  padding: $spacing;
  padding-right: $double-spacing;
  border: 1px solid $color1;
  .surr-place-img {
    aspect-ratio: 1/1.25;
    width: calc(33% - #{$double-spacing});
    margin-right: $double-spacing;
    margin-bottom: $double-spacing;
  }
  .surr-place-txt {
    width: 66%;
    .surr-place-title {
      margin-top: .25vw;
      margin-right: 5px;
    }
  }
  &.submit {
    background-color: #F0EAD9;
  }
}

.border-right {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    right: $half-spacing;
    top: -$half-spacing;
    width: 1px;
    height: calc(100% + #{$half-spacing });
    background-color: $color1;
  }
}

// related
#related {
  background-color: #D0D0D0;
}
.article-img {
  aspect-ratio: 1/1.25;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

// donazioni
.donations {
  background-color: #E6F499;
  .donation-title {
    margin-left: 80px;
    position: relative;
    &:before {
      content: '';
      display: inline-block;
      width: 50px;
      height: 50px;
      background-color: $color1;
      border-radius: 50%;
      position: absolute;
      left: -65px;
    }
  }
  .donation-tab {
    position: relative;
    aspect-ratio: 4/1;
    .donation-text {
      opacity: 0;
      position: absolute;
      top:0;
      left: 0;
      height: 0;
      pointer-events: none;
      @include transition(opacity .3s);
      .wysiwyg {
        max-width: 600px;
        margin-right: $spacing;
      }
      &.visible {
        opacity: 1;
        height: 100%;
        position: static;
        pointer-events: all;
      }
    }
  }
  .donation-button {
    cursor: pointer;
    position: relative;
    padding: 3px 0;
    @include transition(all .3s);
    &:hover {
      color: $color3;
    }
    &.active {
      color: $color3;
      cursor: default;
    }
    &:nth-of-type(1):after {
      content: '';
      position: absolute;
      top: 0;
      right: -$half-spacing;
      width: 1px;
      height: 100%;
      background-color: $color1;
    }
  }
}

// club thats
.page-id-16.page-club-thats {
  background-color: #DEF5E1;
  #club-thats, #footer-title {
    display: none;
  }
}
.single-benefit {
  .benefit-title {
    cursor: pointer;
    @include transition(color .3s);
    &:hover {
      color: $color3;
    }
  }
  .benefit-content {
    opacity: 0;
    pointer-events: none;
    height: 0;
    position: absolute;
    right: 0;
    width: 50%;
    color: $color3;
    @include transition(opacity .3s);
    .benefit-img-container {
      max-height: 200px;
      object-fit: contain;
      img {
        height: 100%;
        width: auto;
        max-width: 100%;
      }
    }
    &.visible {
      opacity: 1;
      height: 100%;
    }
  }
}

.dot-before {
  display: flex;
  & > * {
    width: calc(100% - 40px);
  }
  &:before {
    content:'';
    display: flex;
    width: 30px;
    height: 30px;
    background-color: $color1;
    border-radius: 50%;
    margin-right: $half-spacing;
    @include transition(background-color .3s);
  }
  &.color-hover:hover:before {
    background-color: $color3;
  }
}

.services-box {
  width: 25%;
  margin: 0;
  padding: $double-spacing;
  aspect-ratio: 1/1.1;
  &.image-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

#footer-title {
  background-color: #DEF5E1;
}

#footer {
  background-color: $color1;
  color: white;
  padding: $double-spacing 0 $double-spacing*3;
  line-height: 1.3;
  a {
    color: white;
  }
  #logo-footer {
    display: inline-block;
    width: 100%;
    svg {
      fill: white;
      width: 80%;
      height: auto;
    }
  }
  .menu {
    margin-top: 13px;
    margin-bottom: $spacing*3;
    li {
      // padding: $half-spacing/2 0;
      a {
        @extend .s-xsmall;
        line-height: 1.3;
      }
    }
  }
  .dot-before {
    display: inline-block;
    position: relative;
    &:before {
      content:'';
      display: flex;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 1px solid $color1;
      position: absolute;
      left: -50px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #E6F788;
      @include transition(all .3s);
    }
    &:last-of-type:before {
      background-color: #DEF5E1;
    }
  }
}

@import 'media-queries';
